<!doctype html>
<html ng-app="makaronApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/question.css">

        <script src="./js/lib/angular.js"></script>
        <script src="./js/lib/angular-sanitize.js"></script>
    </head>
    <body>

        <div ng-controller="phoneListCtrl">
            <label>Use ng-include</label>
            <div ng-repeat="mode in modes">
                <label>
                    <input type="radio"
                           name="modes"
                           ng-model="data.mode"
                           value="{{mode.value}}">
                    {{mode.value}}
                </label>
            </div>

            <ng-include src="setFile();"></ng-include>

            <hr>

            <label>Use ng-switch</label>
            <div ng-switch on="data.mode">
                <div ng-switch-when="Tablets">
                    Tablets
                </div>
                <div ng-switch-when="Phones">
                    Phones
                </div>
                <div ng-switch-default="">
                    Choose smth for view
                </div>
            </div>
        </div>

        <hr>

        <div  ng-controller="questionCtrl">
            <div class="quest" ng-class="questColorClass"
                 ng-mouseenter="changeClass($event)"
                 ng-mouseleave="changeClass($event)">
                <h3>{{question.text}}</h3>
                <p>{{question.author}} </p> <p><i>{{question.date}}</i></p>
            </div>
            <h3>Ответы</h3>
            <div class="answers">
                <div ng-repeat="answer in question.answers" class="answer">
                    <div class="vote">
                        <a class="vote-up" ng-click="voteUp(answer)"></a>
                        <span class="rate">{{answer.rate}}</span>
                        <a class="vote-down" ng-click="voteDown(answer)"></a>
                    </div>
                    <b>{{answer.text}}</b>
                    <p>{{answer.author}}</p>
                    <p><i>{{answer.date}}</i></p>
                </div>
            </div>
        </div>


        <script src="./main.js"></script>
        <script src="./js/controllers/phonesCtrl.js"></script>
        <script src="./js/controllers/questionCtrl.js"></script>
    </body>
</html>